.content{
  padding-top: 2em;
  padding-bottom: 2em;
  //background-color:    hsl(141, 71%, 48%) ;
 }

.body {
   background-color:   ;
}

p{
    margin-bottom: 0.5em;
}

 /* unvisited link */
a:link {
    color: #23D160;
  text-underline: none;
  text-decoration: none;
}

/* visited link */
a:visited {
    color: #23D160;
  text-underline: none;
  text-decoration: none;
}

/* mouse over link */
a:hover {
    color:  hsl(0, 0%, 4%) ;
  text-underline: none;
  text-decoration: none;
}

/* selected link */
a:active {
    color:  hsl(0, 0%, 4%) ;
  text-underline: none;
  text-decoration: none;
} 

.pd{
  padding-top: 4em;
  padding-bottom:4em;
  }

.down{
  background-color:  hsl(0, 0%, 21%) ;
  color:  hsl(0, 0%, 96%) ;
}


img{
  padding-bottom: 2em;
}





#23D160